<footer>
    <div class="footer">
        <div class="footer_container social">
            <a href="https://facebook.com/"><img src="../../../assets/facebook-white.svg" alt="facebook" class="footer_container--img"></a>
            <a href="https://instagram.com/"><img src="../../../assets/instagram-white.svg" alt="instagram" class="footer_container--img"></a>
            <a href="https://twitter.com/"><img src="../../../assets/twitter-white.svg" alt="twitter" class="footer_container--img"></a>
        </div>
        <div class="footer_container text">
            <p class="footer_container--text">Copyright © 2022 Safety Net Alerts</p>
        </div>
    </div>
</footer>