.footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 0px;
  line-height: 60px;
  &_container {
    &--text {
      font-size: 0.8rem;
      text-align: center;
    }
    &--img {
      width: auto;
      height: 1rem;
      margin-left: 3rem;
    }
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
