<div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <a href="#" class="navbar-brand">Safety Net Alerts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">

            <ul class="navbar-nav mr-auto" routerLinkActive="active">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="firestation">Firestation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="urls">Urls</a>
                </li>
                <li class="nav-item" *ngIf="showMedicalAssistBoard">
                    <a href="/medical-assist" class="nav-link" routerLink="medical-assist">Medical Assist</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
                <li class="nav-item">
                    <a href="/register" class="nav-link" routerLink="register">Register</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link" routerLink="login">Login</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
                <li class="nav-item">
                    <a href="/profile" class="nav-link" routerLink="profile">{{ sub }}</a>
                </li>
                <li class="nav-item">
                    <a href class="nav-link" (click)="logout()">Déconnexion <i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>

        </div>
    </nav>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>