<div class="list row pt-3">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by city" [(ngModel)]="city" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary bk-color" type="button" (click)="searchEmail()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h4>List person's email</h4>
        <ul class="list-group">
            <li class="list-group-item container-cards hover text-dark" *ngFor="let email of emails; let i = index">
                {{ email }}
            </li>
        </ul>
    </div>
</div>